.board button {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  border: 4px solid black; /*this gets rid of bootstrap shadow*/
  margin: 1px;
}
body{

  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7gNFDszs2DqwNjLfHh3NFOQuR__ITDs8PLcPg1KfJu6Br845o");
  background-size: cover;
  height: 100%
}
h1
{
  background-color: orange;
}
h2
{
  background-color: white;
}
h3
{
  background-color: green;
}
